<div style="width: 100%;">
    <mat-toolbar style="background-color: #4169E1">  
        <mat-toolbar-row style="padding-left: 3%;">
          <img src="../assets/img/icone.png" style="widows: 70px;height:70px;">
            <span class="Titulo">OnMed Consultório</span>
            <span class="example-spacer"></span>
            <div class="button-space">
                <div style="margin-right: 8%;"><a href="./app.component.html">Página Inicial</a></div>
                <div style="margin-right: 8%;"><a href="novo">Agendar Consulta</a></div>
                <div><a href="Agenda" class="A">Agenda</a></div>
            </div>
        </mat-toolbar-row>
             
      </mat-toolbar>
</div>

<router-outlet></router-outlet>

